@CHARSET "UTF-8";
@charset "euc-kr";
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}



/* common */
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family: 'Nanum Gothic', sans-serif;}
ul>li>a { text-decoration:none; }
/* table { border-collapse: collapse; }*/
a { color:#666666;}
/*span { color:#666; font-size:12px; }*/

/* LAYOUT */
#A_Wrap       { width:100%; height:100%; }
#A_Header     { width:100%; clear:both; }
#A_Container_Wrap  { width:100%; clear:both; }
#A_Container   { width:1000px; margin:0 auto; margin-top:50px; margin-bottom:20px; clear:both; overflow: hidden; min-height:500px;}

#A_Container_L{ /* 占쏙옙占쏙옙 */
	float:left;	width:200px; padding-right:30px;
}
#A_Container_C{ /* 占쏙옙占쏘데 */
	width:770px; /*占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙占싸삼옙占쏙옙占쏙옙*/
	float:left;
	overflow:hidden;
}
#A_Container_R{ /* 占쏙옙占쏙옙占쏙옙 */
	float:right;
	display:none; /* 占쏙옙占쏙옙占십울옙占쏙옙 占쏙옙占쏙옙 */
}
#A_Footer     { width:100%; clear:both; background:#e8e8e8;}

/* header */
.top_login { width:100%; height:34px; border-bottom:1px solid #eeeeee; overflow:hidden; background:#f9f9f9; }
.top_login div { width:1000px; height:34px; margin:0 auto;}
.sns { float:left; height:34px; line-height: px;}
.sns li { float:left; padding:0 2px; }
.sns img { padding-top:5px;}
.login { float:right; height:34px; line-height: 32px;}
.login li{ background:url(../image/common/top_login.gif) no-repeat right center; float:left; padding:0 8px; }
.login li a{ font-size:12px; color:#666; font-weight:600; }
.login li:nth-child(3){ /*padding-right:0;*/ background:none; }

.logo_search { width:1000px; height:80px; margin:0 auto; }
.logo { padding-top:21px; }
.search { padding:6px 0 0 9px; }
.logo_search form { margin:26px 306px 0 0; width:388px; height:36px; float:right; background:#104acf; /*background:#2fa0ee;占쏙옙占쏙옙占시뤄옙*/ overflow:hidden; }
.logo_search input[type=text] { height:30px; width:334px; float:left; border:0px; margin:3px 0 0 3px; outline:none; padding-left:10px; font-size:14px; font-weight:600; color:#000; }
.logo_search input[type=text]::-webkit-input-placeholder{color:#8eaabd; font-size:12px; font-weight:600; }
.logo_search input[type=text]::-moz-placeholder {color:#8eaabd; font-size:12px; font-weight:600; }

/* 占쏙옙占쏙옙 占쌨댐옙 */
.gnb { width:100%; background:#104acf; position:relative;}
.gnb_btn {width:1000px; margin:0 auto; overflow:hidden;}
.gnb_btn>li  { background:url(../image/common/gnb_bar.gif) no-repeat right center; line-height:55px; float:left; font-size:18px; /* text-align:center; */ padding:0 37.2px;}
.gnb_btn>li:nth-child(7){background:none; }
.gnb_btn>li:nth-child(8){ background:#0eade7; width:152px; height:34px; margin:10px; line-height:34px; font-size:14px; padding:0; border-radius:3px; text-align:center; }

.gnb_btn>li>a { font-size:16px; font-weight:600; color:#fff; display:block; line-stacking:-0.25px; /*padding: 20px 22px 17px;*/}
.gnb_btn>li:first-child { border-left:none;}
.gnb_btn>li:hover>.sub_navwrap { display:block;}

/* .sub_navwrap { width:100%; height:176px; display:none; position:absolute; left:0; top:55px; background:rgba(255,255,255,0.8); border-bottom:2px solid #2d9fee; z-index:100; padding-top:20px;} */

.sub_navwrap { /* height:176px; */ display:none; position:absolute; /* left:50%; margin-left:-500px; */ top:55px; background:rgba(255,255,255,0.95); border-bottom:2px solid #2d9fee; z-index:100; padding-top:20px;}

.sub_nav { /* width:1000px; */ margin:0 auto; overflow:hidden; }

.go_box ul { float:left; margin-bottom:15px; margin-left:20px;  width:120px;/* clear:both;  */}
.go_box li {/* float:left;*/ color:#666; font-size:13px; font-weight:600; padding:2px 0; line-height:17px !important; }
.go_box li:first-child { /*width:34px;*/ padding-left:0; text-align:left; }
.go_box li a { color:#666; font-size:13px; font-weight:600; }
.go_box li a:hover, .go_box li a.over { color:#2fa0ee; }
.go_box li b { float:right; }
.titleL li:first-child { width:87px;}
.titleMM li:first-child { width:60px;}
.titleM li:first-child { width:50px;}
.enter {margin-left:43px;}

/* footer */
.foot_btn { width:100%; height:40px; background:#d3d3d3; }
.fb_size { width:1000px; height:40px; margin:0 auto; }
.fb_size ul { float:left; height:40px; line-height:40px; }
.fb_size li { float:left; background:url(../image/common/foot_bar.gif) no-repeat center right; padding:0 13px; }
.fb_size li a{ font-size:12px; color:#666;	font-weight:bold; }
.fb_size li:nth-child(1){ padding-left:0; }
.fb_size li:last-child{	background:none; }
.foot_comInfo { width:1000px; margin:0 auto; height:150px; background:#e8e8e8; position:relative;}
.fc_info {	width:1000px; 	margin:0 auto; }
.fc_info li { float:left;}
.fc_info li:first-child { width:800px; padding-top:32px; }
.fc_info li:last-child { float:right; padding-top:30px; }
.fc_info p{ font-size:12px; color:#898989; font-weight:500; margin-bottom:2px; line-height:17px; }

.foot_comInfo .seoul_icon { position:absolute; top:43px; right:145px;}

/* ???? - ??????? */
.star_score { background: url(../image/common/mark.png) no-repeat left -21px; width: 83px; height: 16px; position: relative; margin-top: 2px;}
.star_score em { position: absolute; background: url(../image/common/mark.png) no-repeat; height: 14px; }
.star_count { padding-left:5px; font-size:12px; font-weight:600; color:#666; }
.point_0 { width: 00%; }
.point_1 { width: 20%; }
.point_2 { width: 40%; }
.point_3 { width: 60%; }
.point_4 { width: 80%; }
.point_5 { width:100%; }

/* ????占쏙옙 */
.list_page { margin: 30px auto 0; text-align: center; zoom: 1; }
.list_page .first_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_l.png) no-repeat left top; }
.list_page .first2_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_l.png) no-repeat -25px top; }
.list_page ul { display: inline-block; overflow: hidden; padding: 0 7px; vertical-align: bottom;}
.list_page li { float: left; margin: 0 5px;}
.list_page li:hover a, .list_page li a.on { color: #fff; background: #0eade7;}
.list_page li a { display: block; width: 24px; height: 24px; font-size: 12px; color: #444; text-align: center; line-height: 25px; }
.list_page .last2_btn { display: inline-block; width: 25px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_r.png) no-repeat left top; }
.list_page .last_btn { display: inline-block; width: 24px; height: 24px; text-indent: -9999px; vertical-align: bottom; background: url(../image/common/arrow_r.png) no-repeat -25px top; }

/* ????? ????????? / ??????? */
.select_btn { width:142px; line-height:24px; /* border:1px solid #ff4b5c; */ border:1px solid #e0e0e0; border-radius:2px; padding-left:6px; background: url(../image/common/bg_select.gif) no-repeat right center; }
.select_btn p { width:120px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.select_box { display:none; position:absolute; top:22px; width:150px;  z-index:100; }
.select_box a dd { clear:both; background:white; border:1px solid #e0e0e0; padding-left:10px; font-size: 11px; font-weight: normal; }
.select_box a:last-child dd { border-top:none; }
.select_box a dd:hover { background:#2d9fee; }
.select_box a { color:#666666; line-height:24px;}
.select_box a:hover { color:#ffffff; }



/* 怨듭쑀��湲곗쨷 */
.pn_btn { margin-bottom:4px; display:inline-block; padding:6px; background:#444; color:#fff; border-radius:2px; }








/* ?????????? ????? ????? */
.f_left {float:left;}
.f_right { float:right; }

.w110px{width:110px;}
.w150px {width:150px;}
.w290px {width:290px;}
.w400px {width:400px;}

.m_0auto { margin:0 auto; }
.m_top0 {margin-top:0px !important;}
.m_top4 {margin-top:4px !important;}
.m_top13 {margin-top:13px !important;}
.m_top15 {margin-top:15px !important;}
.m_top20 {margin-top:20px !important;}
.m_top30 {margin-top:30px !important;}
.m_top50 {margin-top:50px !important;}
.m_top80 {margin-top:80px !important;}
.m_left0 {padding-left:0px !important;}
.m_right0 {padding-right:0px !important;}
.m_right4 {padding-right:4px !important;}
.m_bottom4 {margin-bottom:4px !important;}
.m_bottom20 {margin-bottom:20px !important;}
.m_bottom40 {margin-bottom:40px !important;}
.m_bottom80 {margin-bottom:80px !important;}
.mlb20 {margin-left:20px !important;  margin-bottom:10px !important;}
.ml10 {margin-left:10px !important; }
.ml20 {margin-left:20px !important; }
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.ml40 {margin-left:40px !important; }
.mlb40 {margin-left:40px !important; margin-bottom:10px }
.mtb3 {margin-top:3px !important;  margin-bottom:3px !important;}
.mt20mb5 {margin-top:20px !important; margin-bottom:20p5x !important;}

.p_left6 {padding-left:6px !important;}
.p_left20 {padding-left:20px !important;}
.p_bottom10 {padding-bottom:10px !important;}
.p_bottom65 {padding-bottom:65px !important;}

.bgnone	  { background:none !important; }
.bg444444 { background:#444444 !important; } /*?????*/
.bg979797 { background:#979797 !important; }
.bgff4b5c { background:#ff4b5c !important; }
.bg6393b4 { background:#6393b4 !important; } /*????*/
.bg2fa0ee { background:#2fa0ee !important; } /*???*/
.bge14948 { background:#e14948 !important; } /*????*/
.bgff4b5c { background:#ff4b5c !important; } /*???*/
.bg4b4b4c { background:#4b4b4c !important; }
.bgff8400 { background:#ff8400 !important; } /*??????*/

.bg41aaf2 { background:#41aaf2 !important; }
.bg888888 { background:#888 !important; }
.bga7a7a7 { background:#a7a7a7 !important; }








.co444444 { color:#444444 !important; } /*?????*/
.co6393b4 { color:#6393b4 !important; } /*????*/
.co2fa0ee { color:#2fa0ee !important; } /*???*/
.coff4b5c { color:#ff4b5c !important; } /*???*/
.coe14948 { color:#e14948 !important; } /*????*/

.bor_none { border:none !important; }
.bor_top4ff { border-top: 4px solid #ffffff; }
.bor_btm266 { border-bottom: 2px solid #666666; }
.bor_r {border-right:1px solid #dbdbdb !important;}
.cursor { cursor:pointer; }




/* ???? ???? */
.font_cate 		{ font-size:12px; font-weight:600; color:#6393b4; }
.font_userId 	{ font-size:12px; font-weight:600; color:#666; }
.font_hit 		{ font-size:12px; font-weight:600; color:#666;}
.font_subject 	{ font-size:14px;  color:#666;  }
.font_subject2 	{ font-size:16px; font-weight:600; color:#666; }
.font_price		{ font-size:18px !important; font-weight:600 !important; color:#ff4b5c !important; }
.font_contents	{ font-size:13px; font-weight:   ; color:#888;  }
.font_contents2	{ font-size:13px; font-weight:600; color:#666;  }

.font_12no66	{ font-size:12px; font-weight:normal; color:#666666; }
.font_12no2f	{ font-size:12px; font-weight:normal; color:#2fa0ee; }



/* modal window styles */
#lean_overlay			{ position:fixed; top:0px; left:0px; display: none; width:100%; height:100%; background:#000; z-index:100;}
.popupModal				{ position:relative; overflow:hidden; width:1080px; height:450px; border:2px solid #2fa0ee; box-sizing:border-box; background: #fff;}
.popupModal *			{ box-sizing:border-box; }
.popupModal h2			{ position:relative; width:100%; height:40px; line-height:40px; padding-left:20px; color:#fff; font-size:16px; font-weight:600; background:#2fa0ee; margin-top:0 !important; border:none !important;}
.popupModal .popupCon	{ position:relative; width:100%; height:100%; }
.popupModal .popupCon dd { position:relative; float:left;  height:100%; padding:10px; border-right:1px solid #cacaca; }
.popupModal .popupCon dd:last-child { border-right:none; }
.popupModal .popup_close		{ position:absolute; top:0; right:0; padding:11px; cursor:pointer}

.allCate { position:relative; width:100%; }
.allCate>li { width:100px; padding-left:10px; }
.allCate a {font-size:13px; font-weight:normal; color:#666666;}
.allCate a:hover {color:#2fa0ee;}
.allCate .allCate_tit01 	{ width:100%; line-height:34px; background:#f7f7f7; border-bottom:1px solid #cacaca; font-size:15px; font-weight:600; color:#272727; }

.tit452 { width:492px; line-height:34px; background:#f7f7f7; border-bottom:1px solid #cacaca; font-size:15px; font-weight:600; color:#272727; padding-left:10px; }
.con452 { position:relative; width:452px; }
.tit252 { width:180px; line-height:34px; background:#f7f7f7; border-bottom:1px solid #cacaca; font-size:15px; font-weight:600; color:#272727; padding-left:10px; }
.con252 { position:relative; width:120px; }
.con452 ul { float:left; width:20%; }
.con252 ul{width:20%; width:96px; float:left;}
.con252 ul:nth-child(2) {float: right; width:20%; }

.allCate_tit02 	{ padding:10px 0 5px 0; }
.allCate_tit02 a 	{ font-size:15px !important; font-weight:600; color:#333 !important; padding-bottom:10px;}
